In [3]:
import pandas as pd

In [ ]:
"""# 1. Count how many number of posts are paid and unpaid?
# 2. Display only Page type, Month, likes, comments and shares.
# 3. Find average number of likes to the post in September month.
# 4. Print the information about the posts which are links.
# 5. How many total shares are present for the video posts?
# 6. In which hour of the day maximum posts are posted?
# 7. In which day of October, maximum number of interactions are found?
# 8. Print the information of the posts where likes are above 200 and shares are above 30.
# 9. Which kind of posts are posted maximum number of times in November month?
# 10. Find average and median of interactions for the paid (1) posts"""

In [ ]:
# 1. Count how many number of posts are paid and unpaid?

In [5]:
df=pd.read_csv('fb.csv')

In [7]:
df1=df.Paid>0.0
totalpost=len(df)
paidpost=len(df[df1])
print("Number of Paid Post:",len(df[df1]))
print("Unpaid Post:",totalpost-paidpost)

Number of Paid Post: 139
Unpaid Post: 361

In [9]:
df

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [ ]:
# 2. Display only Page type, Month, likes, comments and shares.

In [11]:
df[['Type','Post Month','like','comment','share']]

       Type  Post Month    like  comment  share
0     Photo          12    79.0        4   17.0
1    Status          12   130.0        5   29.0
2     Photo          12    66.0        0   14.0
3     Photo          12  1572.0       58  147.0
4     Photo          12   325.0       19   49.0
..      ...         ...     ...      ...    ...
495   Photo           1    53.0        5   26.0
496   Photo           1    53.0        0   22.0
497   Photo           1    93.0        4   18.0
498   Photo           1    91.0        7   38.0
499   Photo           1    91.0        0   28.0

[500 rows x 5 columns]

In [ ]:
# 3. Find average number of likes to the post in September month.

In [13]:
df.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [17]:
dfsep=df['Post Month']==9

In [25]:
dfsep1=df[dfsep]
dflike=dfsep1['Page total likes']

In [29]:
print("Total Like in September:",dflike.sum())
print("Total Number of Like:",dflike.count())
print("Average No. Of Likes:",dflike.sum()/dflike.count())

Total Like in September: 4866672
Total Number of Like: 36
Average No. Of Likes: 135185.33333333334

In [ ]:
# 4. Print the information about the posts which are links.

In [69]:
df1=df['Lifetime Post Impressions by people who have liked your Page']==True
df1
df[df1].size

0

In [51]:
df2=df[df1]
df3=df2['Lifetime People who have liked your Page and engaged with your post']==True
df3

Series([], Name: Lifetime People who have liked your Page and engaged with your post, dtype: bool)

In [ ]:
# 5. How many total shares are present for the video posts?

In [105]:
dfvideo=df.Type=='Video'
dfvideo1=df[dfvideo]
totalshare=dfvideo1['share'].sum()
print("Total Share on Video:",totalshare)

Total Share on Video: 13524.0

In [ ]:
# 6. In which hour of the day maximum posts are posted?

In [117]:
maxhours=df['Post Hour'].max()
print("Maximum Hours:",maxhours)

Maximum Hours: 23

In [ ]:
# 7. In which day of October, maximum number of interactions are found?

In [119]:
df.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [153]:
october=df['Post Month']==10
df2=df[october]
maxinteraction=df2['Total Interactions'].max()
print(maxinteraction)
df3=df['Total Interactions']==maxinteraction

#max_interation_week_day=['Post Weekday']==maxinteraction

#print("Week of Day for maximum Interaction:",df[max_interation_week_day])

1626

0      False
1      False
2      False
3      False
4      False
       ...
495    False
496    False
497    False
498    False
499    False
Name: Total Interactions, Length: 500, dtype: bool

In [ ]:
# 8. Print the information of the posts where likes are above 200 and shares are above 30.

In [ ]:
# 9. Which kind of posts are posted maximum number of times in November month?

In [ ]:
# 10. Find average and median of interactions for the paid (1) posts